@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background-color: #fcfcfc;
}

.overall-grid {
  display: grid;
  grid-template-rows: 4.5rem 1fr 3.5rem;
  height: 100vh;
}

header {

  width: 100%;
  height: 4.5rem;
  margin: 0 auto;
  box-shadow: 0 2.5px 2.5px rgba(0, 0, 0, 0.25);
  background-color: #4b546f;
}

nav {
  height: 100%;
  /* border: 2px solid red; */
}

.nav-container {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
  /* border: 2px solid orange; */
}

.nav-item {
  text-decoration: none;
  display: inline-block;
  align-items: center;
  height: 100%;
  /* border: 2px solid yellow; */
}

.nav-link {
  text-decoration: none;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  padding-left: 25px;
  padding-right: 25px;
  /* border: 2px solid black; */
  color: #e7f0f7;
  background-color: #4b546f;
}

.nav-link:hover, .nav-link:focus {
    color: #e7f0f7;
    background-color: hsl(225, 19%, 20%);
}





main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* border: 2px solid grey; */
}

p {
  margin: 0;
  padding: 0;
}

.home-area-left {
  grid-column: 3/7;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-title {
  font-family: "Quattrocento", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: #3D3D3D;
  line-height: 1.2;
}

.home-content {
  font-family: "Quattrocento", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #3D3D3D;
  line-height: 1.2;
}

.blank-line {
  margin-top: 1rem;
}

.home-area-right {
  grid-column: 7/11;
  /* border: 2px solid navy; */
  display: flex;
  align-items: center;

}

.drawing {
  width: 100%;
}


.about-area-left {
  grid-column: 3/7;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.about-area-right {
  grid-column: 7/11;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}


.about-title {
  font-family: "Quattrocento", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #9FA9BC;
  line-height: 1.2;
}

.about-content {
  font-family: "Quattrocento", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  color: #3D3D3D;
  line-height: 1.25;
  text-align: justify;
}

.resume-link-container {
  width: 100%;
  height: 50px;

}

.resume-link {
  text-decoration: none;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 2px solid #9FA9BC;
  border-radius: 25px;

  /* border: 2px solid black; */
  color: #9FA9BC;
  transition: all 500ms;
}

.resume-link:hover, .resume-link:focus {
    color: #fcfcfc;
    background-color: #9FA9BC;
}

.headshot {
  width: 80%;
  border-radius: 5%;
}

.projects-area {
  grid-column: 3/11;
  

}

h1 {
  font-family: "Quattrocento", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #9FA9BC;
}

h2 {
  font-family: "Quattrocento", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #3D3D3D;
}

h3 {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #3D3D3D;
}

h4 {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #9FA9BC;
}


/* .img {
  border-radius: 10px;
	margin: 0.5%;
}

.project1-image {
  grid-column: 1/3;
  border-radius: 10px;
	margin: 0.5%;
  height: 15vh;
  background-image: url("../image/project1.png");
  background-color: gray;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
} */

.project-link {
  text-decoration: none;
  font-family: "Quattrocento", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: #3D3D3D;
}

.project-link:hover, .project-link:focus {
  color: #9FA9BC;
}

.competitor-anaylsis {

  width: 100%;
  height: 500px;
}

.persona {
  width: 100%;
}

.start-blank {
  margin-top: 15%;
}
.end-blank {
  margin-bottom: 15%;

}





footer {
  height: 3.5rem;
  display: flex;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 1em;
  font-weight: 700;
  color: #9FA9BC;
  border-top: 2px solid #9FA9BC;
  justify-content: center;
  align-items: center;
}
